<div><form>
    <div ng-show="returnLoginStatus()">
        
        <div class="text-center" ng-show="showLoadingProfile">
            <h4> Please wait as we retrieve your car profile..</h4>
            <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div ng-show="displayUserProfileNotFound">
            <div class="alert alert-warning" role="alert">
                    Unable to load profile for this user ...Please try logging in with a valid user
            </div>
            
        </div>
        
        
        <div ng-show="displayUserProfile">
            <div class = "row">
                <div class = "col-md-8">
                    <h3> Hi {{ currentUserProfile.name }}! Welcome to Pimp My Ride with Solace!</h3>

                    <div>
                        <h5 style="padding: 0px; margin : 0px;">Visual</h5>
                         <table class="table table-borderless table-dark table-sm">
                            <tbody>
                                <tr>
                                    <td align="left">Paint Job</td>
                                    <td ng-show="showFormElement('VIEW')">
                                        {{ getModelFromVisualPart('paint') }}</td>
                                    
                                    <td ng-show="showFormElement('EDIT')">
                                            <select ng-model="selectedPaint" ng-options="part for part in partInfo.visual.paint" ng-value="currentUserProfile.car.visual.paint"></select>           
                                    </td>

                                </tr>
                                <tr>
                                    <td align="left">Wheels</td>
                                    <td ng-show="showFormElement('VIEW')">
                                            {{ getModelFromVisualPart('wheels') }}</td>
                                    <td ng-show="showFormElement('EDIT')">
                                            <select ng-model="selectedWheels" ng-options="part for part in partInfo.visual.wheels"></select>           
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Headlights</td>
                                    <td ng-show="showFormElement('VIEW')">
                                            {{ getModelFromVisualPart('headlights') }}</td>
                                    <td ng-show="showFormElement('EDIT')">
                                            <select ng-model="selectedHeadlights" ng-options="part for part in partInfo.visual.headlights"></select>           
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Decals</td>
                                    <td ng-show="showFormElement('VIEW')">
                                            {{ getModelFromVisualPart('decals') }}</td>
                                    <td ng-show="showFormElement('EDIT')">
                                            <select ng-model="selectedDecals" ng-options="part for part in partInfo.visual.decals"></select>           
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Window Tint</td>
                                    <td ng-show="showFormElement('VIEW')">
                                            {{ getModelFromVisualPart('windowtint') }}</td>
                                    <td ng-show="showFormElement('EDIT')">
                                            <select ng-model="selectedWindowtint" ng-options="part for part in partInfo.visual.windowtint"></select>           
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>

                    <div>
                        <h5 style="padding: 0px; margin : 0px;">Performance</h5>
                        <table class="table table-borderless table-dark table-sm">
                            <thead>
                                    <th scope="col">Attribute</th>
                                    <th scope="col">Low</th>
                                    <th scope="col">Medium</th>
                                    <th scope="col">High</th>
                                    <th ng-show="showFormElement('EDIT')" scope="col">Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left">Acceleration</td>
                                    <td colspan="3">
                                            <div class="progress-container progress-primary">
                                                <div class="progress" style="height: 15px">      
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ getValueFromPerformanceAttr('acceleration') }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> {{ getValueFromPerformanceAttr('acceleration') }}%    
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button ng-show="showFormElement('EDIT')" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
                                        </td>
                                </tr>
                                <tr>
                                    <td align="left">Top Speed</td>
                                    <td colspan="3">
                                            <div class="progress-container progress-primary">
                                                <div class="progress" style="height: 15px">      
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ getValueFromPerformanceAttr('topspeed') }}%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> {{ getValueFromPerformanceAttr('topspeed') }}%      
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                                <button ng-show="showFormElement('EDIT')" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
                                            </td>
                                </tr>
                                <tr>
                                    <td align="left">Handling</td>
                                    <td colspan="3">
                                            <div class="progress-container progress-primary">
                                                <div class="progress" style="height: 15px">      
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ getValueFromPerformanceAttr('handling') }}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"> {{ getValueFromPerformanceAttr('handling') }}%    
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                                <button ng-show="showFormElement('EDIT')" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
                                            </td>
                                </tr>
                                <tr>
                                    <td align="left">Drivetrain</td>
                                    <td colspan="3">
                                        <div class="progress-container progress-primary">
                                            <div class="progress" style="height: 15px">      
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ getValueFromPerformanceAttr('drivetrain') }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"> {{ getValueFromPerformanceAttr('drivetrain')}}%    
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                            <button ng-show="showFormElement('EDIT')" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Nitrous</td>
                                    <td colspan="3">
                                        <div class="progress-container progress-primary">
                                            <div class="progress" style="height: 15px">      
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ getValueFromPerformanceAttr('nitrous') }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"> {{ getValueFromPerformanceAttr('nitrous') }}%    
                                                </div>
                                            </div>
                                        </div>         
                                    </td>
                                    <td>
                                            <button ng-show="showFormElement('EDIT')" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
    
                    </div>
        
                    <div class = "col-md-4">

                        <div class="card card-plain">
                            <div class="card-header text-center">
                                    <h3 class="h3 mb-3 font-weight-normal">Your Current Ride</h3>
                            </div>

                            <form>
                                <div class="form-group row">
                                      <label for="vin" class="col-md-4 col-form-label">VIN</label>
                                      <label for="vin" class="col-md-8 col-form-label">{{ currentUserProfile.car.about.vin }}</label>
                                    </div>
                                    <div class="form-group row">
                                            <label for="make" class="col-md-4 col-form-label">Make</label>
                                            <label for="make" class="col-md-8 col-form-label">{{ currentUserProfile.car.about.make }}</label>
                                          </div>
                                    <div class="form-group row">
                                        <label for="model" class="col-md-4 col-form-label">Model</label>
                                        <label for="model" class="col-md-8 col-form-label">{{ currentUserProfile.car.about.model }}</label>
                                        </div>
                                </form>

                            <div class="card-body">
                                <div class="text-center">
                                    <img class="mb-4" src="assets/img/lamborghini_urus.jpg" alt="current_car" height="200">
                                    <button ng-show="showFormElement('VIEW')" class="btn btn-lg btn-primary btn-round" type="button" ng-click="configure()">
                                            <i class="fas fa-cog"></i> Customize Ride</button>
                                    <button ng-show="showFormElement('EDIT')" class="btn btn-lg btn-primary btn-round" type="button" ng-click="estimate()">
                                                    <i class="fas fa-cog"></i> Get Estimate</button>
                                    <button ng-show="showFormElement('EDIT')" class="btn btn-lg btn-primary btn-round" type="button" ng-click="cancel()">
                                                        <i class="fas fa-cog"></i> Cancel</button>
                                </div>
                            </div> 
                                    
                        </div>
                    </div>
        
            </div>
        </div>
        

        
    </div>
    </form>
</div>


